{% extends 'partials/base.html.twig' %}

{% block content %}
	<div style="display: flex">
		<img style="margin: 0 auto" src="{{ url("theme://images/kdat.jpg") }}" alt="Kiểm định an toàn" />
	</div>
    {{ page.content }}
{% endblock %}
